#one,#two{

font-size: 15px;
color: white;
border: 1px dotted yellow;
border-radius: 5%;
box-shadow: 2px 2px 8px burlywood;
width: 270px;
height: 30px;
background: burlywood; 
display: flex;
justify-content:center;
align-items: center;

}
